<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title th:text="${pageTitle}"></title>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<style type="text/css">
body {
	padding-top: 55px;
}

#content {
	margin: 5px;
}
</style>
</head>


<body>
	<div th:replace="fragments/navbar :: NavbarThymleaf"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10" id="content">
				<form action="#" method="post" th:object="${account}">
				<table
					class="table table-dark table-striped table-bordered .table-hover">
						<caption>Update Account Details</caption>
						<tr>
							<th scope="row">Account Details</th>
						</tr>
						<tr>	
							<td>Name</td>
							<td class="col-sm-6 col-md-6 col-lg-6 col-xl-6 "><input type="text" th:field="*{name}" id="name"
								name="name" th:error-class="has-error" ></td>
							<td>	
							<div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
								<ul th:if="${#fields.hasErrors('name')}">
									<li th:each="err : ${#fields.errors('name')}" th:text="${err}">
								</ul>
							</div>
							</td>	
						</tr>
						<tr>	
							<td>City</td>
							<td class="col-sm-6 col-md-6 col-lg-6 col-xl-6 "><input type="text" th:field="*{city}" id="city"
								name="city" th:error-class="has-error" ></td>
							<td>	
							<div class="form-group" th:class="${#fields.hasErrors('city')} ? 'form-group has-error' : 'form-group'">
								<ul th:if="${#fields.hasErrors('city')}">
									<li th:each="err : ${#fields.errors('city')}" th:text="${err}">
								</ul>
							</div>
							</td>
						</tr>
						<tr>
							<td>FSSAI</td>
							<td><input type="number" th:text="${account.fssai}" th:field="*{fssai}" id="fssai"
								name="fssai" th:error-class="has-error" ></td>
							<td>	
							<div class="form-group" th:class="${#fields.hasErrors('fssai')} ? 'form-group has-error' : 'form-group'">
								<ul th:if="${#fields.hasErrors('fssai')}">
									<li th:each="err : ${#fields.errors('fssai')}" th:text="${err}">
								</ul>
							</div>
							</td>
						</tr>
						<tr>
							<td>GSTNO</td>
							<td><input type="number" th:text="${account.gstno}" th:field="*{gstno}" id="gstno"
								name="gstno" th:error-class="has-error" ></td>
							<td>	
							<div class="form-group" th:class="${#fields.hasErrors('gstno')} ? 'form-group has-error' : 'form-group'">
								<ul th:if="${#fields.hasErrors('gstno')}">
									<li th:each="err : ${#fields.errors('gstno')}" th:text="${err}">
								</ul>
							</div>
							</td>
						</tr>
				</table>
					<button type="submit" class="btn btn-primary">Update records</button>
				</form>
			</div>
		</div>
	</div>			
</body>
</html>