<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"
	media="screen"></link>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/2.0.2/umd/popper.min.js"></script>
<style type="text/css">
body {
	padding-top: 55px;
}

#content {
	margin: 5px;
}
</style>
</head>


<body>
	<div th:replace="fragments/navbar :: NavbarThymleaf"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-md-10 col-lg-10 col-xl-10" id="content">
			</div>
		</div>
	</div>
</body>
</html>